
venv/
env/
.venv/
finance-api-venv/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*

build/
dist/
*.egg-info/
.eggs/

*.log

.env
.env.*

*.sqlite3
*.db

.coverage
htmlcov/

.pytest_cache/

node_modules/

dist/
.tmp/
out-tsc/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/environments/environment.prod.ts

.vscode/


